# .easignore - Configurazione per EAS Build (invia .env a EAS ma lo tiene fuori da Git)

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
